.intro {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  margin-top: 0;
  margin-bottom: 20px;
  position: relative;
}
.title {
  margin: 0;
  font-size: 40px;
}

.intro-container {
  position: relative;
}

.collapsed .intro {
  overflow: scroll;
  height: 180px;
}

.collapse-button {
  position: absolute;
  width: 100%;
  background-color: #D2D1DE;
  bottom: 0;
  left: 0;
  cursor: pointer;
  margin: 0;
  border: 0;
}

@media screen and (max-width: 500px) {
  .collapse-button {
    height: 40px;
  }
}
